<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- Eine Permission mit "Protection Level: Normal". -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Eine Permission mit "Protection Level: Dangerous".  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Noch eine "dangerous" Permission, nämlich zum Abfragen der GPS-Ortung. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Wenn man ACCESS_FINE_LOCATION benötigt, dann braucht man auch ACCESS_COARSE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!-- Für Permission CALL_PHONE -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RuntimePermissions"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <activity android:name=".OrtungsActivity"
                  android:label="@string/titel_ortungs_activity" />

    </application>

</manifest>